.git
.gitignore
.env
.env.*
venv/
env/
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.idea/
.vscode/
staticfiles/
media/
*.sqlite3-journal
*.sqlite-wal
*.sqlite-shm
